<h1>Temps passé par Makaras (EUW) sur LoL hier : </h1>
<h4><%= @hier_time %></h4>

<h4>Cela équivaut à <%= @hiersmic.round(2) %> € au SMIC.</h4>
<%= link_to "Et combien de temps passé la semaine dernière ? (chargement long)", week_path %>