<div class="container center">
    <div class="main">
        <br /><br /><br />
        <h1>Temps passé par Thominours sur LoL hier : </h1>
        <p><%= @hier_time %></p>
        <p>Cela équivaut à <%= @hiersmic.round(2) %> € au SMIC.</p>
        <%= link_to "Et combien de temps passé la semaine dernière ?", week_path %>
    </div>
</div>