<h1>Temps passé par Makaras (EUW) sur LoL la semaine dernière : </h1>
<h4>Temps passé la semaine dernière : <%=@lastweek_time%> (soit <%= @weeksmic.round %>€ au SMIC)</h4>
<%= @mlastweek.count%> parties détectées
<%= link_to "Et combien de temps passé rien qu'hier ?", root_path %>