<div class="container center">
    <div class="main">
        <br /><br /><br />
        <h1>Temps passé par Thominours sur LoL la semaine dernière : </h1>
        <p><%=@lastweek_time%> (soit <%= @weeksmic.round %>€ au SMIC)</p>
        <%= link_to "Et combien de temps passé rien qu'hier ?", root_path %>
    </div>
</div>